
    <div class="row">
        <div id="iphone" class=" text-center"><h2 style="padding:40px; font-weight:700"> IPHONE </h2></div>
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                    <img src=@Url.Content("~" +item.Anhbia.ToString()) class="img-responsive" alt="" width="320" height="320" />
                </a>
                    <center>
                        <h4>@item.Tensp</h4>
                        <h6 style="color:red">Giá: @String.Format("{0:0,0}", @item.Giatien) VND</h6>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                        {
                    <button type="submit" class="btn btn-primary" value="Mua hàng" id="bgnGioHang">Mua Hàng</button>

                        }
                        @*<a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a>*@
                    </center>

</div>
        }
        @*<div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
            </div>*@
    </div>

